.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    border-left: 0.5px solid #4c6ac58e;
    border-right: 0.5px solid #4c6ac58e;
}
.top-part__container {
    height: 778px;
    background-image: url(../../assets/project/background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
}
.content-wrepper {
    max-width: 940px;
    margin: 0 auto;
}
.title {
    max-width: 506px;
    height: auto;
    padding-top: 160px;
    font-size: 47px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    transition: 0.2s;
    &__text {
        padding-top: 5px;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.29;
        letter-spacing: normal;
        color: #ffffff;
        transition: 0.2s;
    }
    &__btn {
        margin-top: 60px;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: #ffca00;
        box-shadow: 0 20px 30px 0 rgba(37, 15, 138, 0.2);
        border: none;
        outline: none;
        transition: 0.2s;
        &__text {
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            text-align: center;
            color: #250f8a;
        }
    }
}
.title__btn:hover {
    background-color: azure;
    color: rgba(0, 0, 0, 0.925);
}
.picture-runner {
    position: absolute;
    right: 54px;
    top: 320px;
    height: 75px;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    &__on {
        width: 7px;
        height: 7px;
        border-radius: 3.5px;
        background-color: #8adfed;
    }
    &__show {
        width: 15px;
        height: 7px;
        border-radius: 3.5px;
        background-color: #ffffff;
    }
}
.quote-link {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 10px 25px 0 rgba(37, 15, 139, 0.1);
    transform: translate(50%);
    left: 45%;
    top: 679px;
    border-radius: 50%;
    &__content {
        width: 34px;
        height:34px;
        margin: 18px;    
    }
}